<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="../js/vue.js"></script>
    <script src="../element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <script src="../js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<div id="app">
    <div class="center">
        <h1>登录</h1>
        <div class="loginDiv">
            <el-form ref="loginForm" :model="login" label-width="80px" >
                <el-form-item label="账号：" prop="userPhone" >
                    <el-input type="text" placeholder="请输入手机" v-model="login.userPhone" prefix-icon="el-icon-user-solid"/>
                </el-form-item>
                <el-form-item label="密码：" prop="userPassword" >
                    <el-input type="password" placeholder="请输入密码" v-model="login.userPassword" prefix-icon="el-icon-unlock"/>
                </el-form-item>
                <el-form-item align="center">
                    <el-button type="primary" @click="Login">登录</el-button>
                    <el-button @click="register">注册</el-button>
                </el-form-item>
            </el-form>
        </div>

    </div>
</div>
<script>
    new Vue({
        el:"#app",
        data(){
            return{
                login:{
                    userPhone:"",
                    userPassword:"",
                }
            }
        },
        methods:{
            Login(){
                axios.post("/users/login",this.login).then(res =>{
                    if(res.data.flag){
                        setTimeout("location.href =\'book.html\'",3000)
                        this.$message.success(res.data.msg);
                    }else{
                        this.$message.error(res.data.msg);
                    }


                })
            },
            register(){
                location.href ="register.html";
            }
        }
    })
</script>
</body>
</html>